.is-mask {
  //height:  100%;
  position: relative;
  // display: block;

  &::after {
    background: transparent;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    width: calc(100vw - 20px);
    background: linear-gradient(to bottom, transparent 0%, var(--light) 70%);
  }
}

.about-text {
  //margin-top: 5%;
  padding: 0 5%;
  display: block;
  transition: all 0.3s ease-in-out;


  & .text-item {
    font-size: 20px;
  }

  & button {
    margin: 0 auto;
    display: block;
    background: $indigo;
    border: 1px solid $indigo;
    outline: none;
    color: $white;
    min-width: 100px;
    min-height: 40px;
    cursor: pointer;
    z-index: 11;
    transition: all 0.3s ease-in-out;

  }

  &.is-down {
    width: calc(100vw - 20px);
    // position: absolute;
    right: 0;
    left: 0;

    .text-item {
      &:nth-child(2) {
        padding-right: 40px;
        //@extend .is-mask;
      }
    }

    button {
      transform: translateY(-400px);
      z-index: 11;
    }
  }
}

.btn-upload-wrapper {
    z-index: 2;
    &.is-down {
        z-index: 2;
    }
}

.about-page {
    width: 100%;
    height: 100%;
    @extend .is-mask;

    &::after {
        height: 100px;
        z-index: 1;
        bottom: 0px;
    }

    &::before {
        content: "";
        display: block;
        height: 20px;
        left: 50%;
        transform: translate(-50%, 20px);
        position: absolute;
        bottom: 0;
        z-index: 20;
        background-color: $global-background;
        width: calc(100vw);
      }
}

.btn-home.is-left {
    z-index: 12;
}



