$height-size: 35px;

.Skill-link {
  padding-left: 20px;
  display: flex;
  position: relative;
  align-items: center;
  height: $height-size;
  min-width: 120px;

  &--hover-unset,
  &:hover {
    cursor: default;
  }

  &--hover {
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    height: $height-size;
    line-height: $height-size;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;

    &::after {
      transition: transform 0.5s ease-in, left 0.5s ease-in, background-color 750ms ease-in-out 0;
      z-index: 4;
      background-color: $global-background-secondary;
      width: calc(100% + 30px);
      content: '';
      display: block;
      height: $height-size;
      top: 0;
      left: 0px;
      position: absolute;
    }

    &--hover {
      transition:  left 0.3s ease-out 0.5s;

      &::after {
        transition: transform 0.3s ease-out 0.5s, left 0.3s ease-out 0.5s;
        transition-duration: 1.5s;
        left: 100%;
      }
    }

    &--hover-unset {
      &::after {
        left: 0px;
      }
    }
  }

  &__icon {
    transition: transform 0.4s ease-in, left 0.4s ease-in, color 0.4s ease-in;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 20px;
    z-index: 5;

    &--hover {
      transition: transform 0.4s ease-out 0.4s, left 0.4s ease-out 0.1s, color 0.4s ease-out 0.2s;
      transition-duration: 1s;
      color: $purple;
      left: 100%;
    }

    &--hover-unset {
      left: 20px;
    }
  }
}
