node_modules/
__babel_fixtures__/
dist/
.vscode/
.vscode/**
build/
build/**
babel.js
index.js
deploy.js
.prettierrc
jsconfig.json
.ftpconfig
src/service-worker.js
babel.config.js
client/.cache/**
client/static/**
client/public/**
api-server/src/public/**
api-server/lib/**
tools/contributor/**
tools/scripts/build/ensure-env.js
tools/scripts/build/tsconfig.tsbuildinfo
config/i18n/all-langs.js
config/certification-settings.js