__babel_fixtures__/
__snapshots__/
node_modules/
dist/
package.json
CHANGELOG.md
.cache
babel.js
index.js
.vscode/**
.vscode/
.build/**
.build/
.prettierrc
**/.cache
**/public
client/static
**/*fixtures*
curriculum/challenges/_meta/*/*
curriculum/challenges/**/*
config/**/*.json
config/i18n/all-langs.js
config/certification-settings.js
client/i18n/**/*.json
docs/i18n
**/package-lock.json
.eslintrc.js
tools/scripts/build/ensure-env.js