{
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "eslintIntegration": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid"
}