{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "eslintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "auto",
  "arrowParens": "avoid"
}