.development-page {
    display: block;
    overflow-y: scroll;
    overflow-X: hidden;
    height: calc(100% - 120px);
    width: calc(100% - 120px);
    // margin: 0 auto;
    // padding-top: 120px;

    &::-webkit-scrollbar {
      width: 0px;
      display: none;
    }
  
    & .container {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      grid-template-rows: repeat(auto-fill, 60px);
      grid-gap: 10px;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
      will-change: width, height;
      margin-bottom: 60px;
    }
  
    & .item {
      width: 100%;
      height: 100%;
      min-height: 50px;
      background: $white;
      border-radius: 5px;
      will-change: transform, opacity;
    }
  }
  
  .dev {
    padding: 20px 0;
    // margin-top: 100px;
    position: relative;

    &::before {
      // background: transparent;
      content: "";
      display: block;
      height: 120px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: 20px;
      width: calc(100vw - 20px);
      background: linear-gradient(to top, transparent 0%, var(--light) 50%);
    }

    &::after {
      // background: transparent;
      content: "";
      display: block;
      height: 150px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 50px;
      width: calc(100vw - 20px);
      background: linear-gradient(to bottom, transparent 0%, var(--light) 50%);
    }

  }