.language-buttons {
  position: absolute;
  left: 40px;
  top: 48px;
  z-index: 5;
  display: flex;
  background-color: transparent;

  input.react-dropdown-select-input {
    max-height: 22px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
    & > * {
      line-height: 22px;
      max-height: 22px;
    }

    &::placeholder,
    &::-webkit-input-placeholder {
      color: $lang-dropdown-color;
      font-size: 18px;
      font-weight: 800;
      width: 24px;
      margin-bottom: 6px;
    }
  }

  .react-dropdown-select-input {
    display: flex;
    align-items: center;
  }

  .react-dropdown-select-dropdown-handle {
    transition: 0.4s;
    max-height: 32px;
    display: flex;
  }

  .react-dropdown-select-content {
    display: flex;
    width: 24px;
    max-height: 32px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .react-dropdown-select-content.react-dropdown-select-type-single {
    span {
      min-height: 32px;
      max-height: 32px;
      font-size: 18px;
      padding-top: 3px;
      padding-left: 2px;
      padding-bottom: 1px;
      font-weight: 800;
    }
  }

  .react-dropdown-select {
    min-height: 34px;
    max-height: 34px;
    padding: 0 5px;
    background-color: $lang-dropdown-background;
    color: $lang-dropdown-color;
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus-within {
      border-color: $lang-dropdown-border;
      transition: 0.4s;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &:visited {
      box-shadow: none;
      outline: none;
    }
  }

  .react-dropdown-select-dropdown {
  }

  .react-dropdown-select-item-selected {
  }

  .react-dropdown-select-dropdown-item {
    min-height: 34px;
  }

  .react-dropdown-select-item {
    min-height: 34px;
    background-color: $lang-dropdown-background;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 800;
    color: $lang-dropdown-color;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid $lang-dropdown-border !important;

    &:hover {
      transition: 0.4s;
      color: $lang-dropdown-color;
      background-color: $lang-dropdown-background;
      opacity: 0.9;
    }

    &.react-dropdown-select-item-selected {
      color: $lang-dropdown-color;
      background-color: $lang-dropdown-background !important;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__select {
    cursor: pointer;
    background-color: transparent;
    opacity: 0.4;
    min-width: 70px;
    min-height: 34px;
    max-height: 34px;
    padding: 0 10px;
    border: none;
    outline: none;
    color: $light;
    transition: 0.4s;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible,
    &:visited {
      border: none;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    left: 54px;
    top: 10px;
    z-index: 5;
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
  }

  &__option {
    cursor: pointer;
    margin-left: 20px;
    min-width: 70px;
  }
}
