.btn-home {
  a,
  button {
    font-size: 90%;
    background: none;
    border: none;
    outline: none;
    color: $global-text-color;
    text-decoration: none;
    padding: 0;

    &:hover,
    &:active {
      background: none;
      border: none;
      outline: none;
    }
  }

  &.is-left {
    left: 40px;
    top: 20px;
    position: absolute;
    transition: all 0.3s ease-in-out;

    a,
    button {
      position: relative;

      &::after {
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        position: absolute;
        content: '';
        height: 4px;
        width: 30px;
        background: var(--dark);
      }
    }

    &:hover {
      left: 35px;
    }
  }
}

.slide-left {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-140px);

  &.is-view {
    transform: translateX(0);
    opacity: 1;
  }

  &.is-hide {
    transform: translateX(-140px);
    opacity: 0;
  }
}
