.App {
    position: relative;
    overflow: hidden;
    background-color: $global-background;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    color: var(--dark);
    /* border: 10px solid #393939; */
  }
  
  .App-wrapper {
    background-color: var(--light);
    flex-direction: column;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }