* {
  box-sizing: border-box;
  font-family: $global-font-family;
}

*[disabled] {
  pointer-events: none;
}

html,
body {
  // height: 100vh !important;
  // overflow: auto !important;
}

body {
  font-family: $global-font-family;
  color: $global-text-color;
  font-size: $global-font-size;
  letter-spacing: $global-letter-spacing;
  background: $global-background;
  font-weight:  $global-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

::selection, 
::-moz-selection {
  color: $global-selection-color;
  background: rgba($global-selection-background, 0.7);
}

#root {
  overflow: hidden;
}

.App {
  position: relative;
  overflow: hidden;
  // background-color: $global-background;
  background-color: $global-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: var(--dark);
  /* border: 10px solid #393939; */
}

.App-wrapper {
  background-color: var(--light);
  flex-direction: column;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
