@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900&display=swap&subset=latin-ext");

// Color system

$white:    #fff !default;
$black:    #000 !default;
$gray:    #666666 !default;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray,
) !default;

$primary:       $blue !default;
$secondary:     $gray !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $black !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$regular: 400 !default;
$semi-bold: 500 !default;
$bold: 500 !default;

$opacity-1: 0.1 !default;
$opacity-2: 0.2 !default;
$opacity-3: 0.3 !default;
$opacity-9: 0.9 !default;

$shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !default;

$border-radius: 6px !default;
$border-radius-2: 12px !default;

$global-font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif' !default;
$global-text-color: $black !default;
$global-font-size: 16px !default;
$global-font-weight: $regular !default;
$global-letter-spacing: normal !default;
$global-background: $white !default;
$global-selection-color: $white !default;
$global-selection-background: $primary !default;

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $color, $value in $colors {
      --#{$color}: #{$value};
    }
  
    @each $color, $value in $theme-colors {
      --#{$color}: #{$value};
    }
  }


:root {
  // --light: #EBECF0;
  // --dark: #393939;
  // --primary: #ee6058;


  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}
