* {
  box-sizing: border-box;
  font-family: $global-font-family;

  &[disabled] {
    pointer-events: none;
  }
}

body {
  font-family: $global-font-family;
  color: $global-text-color;
  font-size: $global-font-size;
  letter-spacing: $global-letter-spacing;
  background: $global-background;
  font-weight: $global-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

::selection,
::-moz-selection {
  color: $global-selection-color;
  background: rgba($global-selection-background, 0.7);
}

#root {
  overflow: hidden;
}

a {
  color: $global-text-color;
  text-decoration: none;
}

.App {
  position: relative;
  overflow: hidden;
  background-color: $global-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  padding: 10px;

  color: $global-text-color;
}

.app-wrapper {
  background-color: var(--light);
  flex-direction: column;
  // min-height: calc(100vh - 20px);
  // height: calc(100vh - 20px);
  // min-width: calc(100vw - 20px);
  // width: calc(100vw - 20px);
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
}

.page-wrapper {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-page.page-wrapper {
  overflow: hidden;
  flex-direction: column;
}

.home-page.page-wrapper {
  // overflow-y: auto;
  overflow-x: hidden;
}

.not-found-page {
}
