@import '../components/AboutText/AboutText.scss';
@import '../components/ArticleList/ArticleList.scss';
@import '../components/ArticleListItem/ArticleListItem.scss';
@import '../components/BtnBack/BtnBack.scss';
@import '../components/BtnHome/BtnHome.scss';
@import '../components/BtnTilt/BtnTilt.scss';
@import '../components/BtnUpload/BtnUpload.scss';
@import '../components/GoSkillLink/GoSkillLink.scss';
@import '../components/ThemeSwitcher/ThemeSwitcher.scss';
@import '../components/FlipperCard/FlipperCard.scss';

@import '../components/MainContainer/MainContainer.scss';
@import '../components/MainSocialLinks/MainSocialLinks.scss';
@import '../components/MainLink/MainLink.scss';
