h2 {
  font-size: 30px;
}
.flipper-card-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
    
    span {
      padding: 5px 10px;
      display: inline-block;
      position: fixed;
      top: 50%;
      left: 50%; 
      font-weight: 500;
      text-shadow: #ffffff 3px 4px 13px;
      background: transparent;
      color: transparent;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in;
      font-size: 13px;
      white-space: nowrap;

    }

    &:hover {
      span {
        transition: all 0.4s ease-out;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 7px;
        color: $global-text-color;
        box-shadow: 0px 0px 7px 3px rgba(212, 212, 212, 0.3);
      }
    }

    &[title="Gulp"] {
      img {
       max-height: 80px;
      }
    }
  }
