.toggle__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 32px;
  width: 30px;
  background: transparent;
  border: none;
  margin-left: 25px;
  cursor: pointer;
  padding-top: 0;
  box-sizing: border-box;

}

.toggle__button:focus {
  outline: none;
}

@media(max-width: 781px) {
  .toggle__button {
    height: 28px;
    width: 25px;
  }

  .toggle__button__line {
    width: 28px;
    height: 3.2px;

  }
}