:root {
  --light: #EBECF0;
  --dark: #393939;
  --primary: #ee6058;

  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}

/* cursor styled */

html,
body {
  cursor: none;
}

html *,
body * {
  cursor: none;
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1);
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
}

/* cursor styled */
#root {
  overflow: hidden;
}

.App {
  position: relative;
  overflow: hidden;
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: var(--dark);
  /* border: 10px solid #393939; */
}

.App-wrapper {
  background-color: var(--light);
  flex-direction: column;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-wrapper .bold {
  display: inline-block;
  font-weight: normal;
  color: #505050;
  will-change: transform;
}

.Main-text {
  font-weight: 800;
  font-size: calc(0.5em + 13vw);
  margin-bottom: 0;
  color: var(--dark);
  user-select: none;
}

.Main-text .bold:first-child {
  margin-left: 10px;
} 

.About-text {
  padding: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-text li {
  user-select: none;
  font-weight: 500;
  font-size: calc(0.5em + 1vw);
}

.About-text li, 
.Social-link li {
  list-style: none;
}

.About-text li:nth-child(1):after, 
.About-text li:nth-child(2):after {
  margin: 0 10px;
  color: var(--primary);
  content: '/';
}

.Social-link {
  padding: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social-link li a {
  height: 40px;
  width: 40px;
  margin: 10px;
  display: flex;
}

.Social-link li a svg {
  width: 100%;
  height: 100%;
}

.Social-link a svg patch, 
.Social-link a svg {
  fill:var(--dark);
  transition: all .4s ease-in;
}

.Social-link a:hover svg patch, 
.Social-link a:hover svg {
  transition: all .4s ease-out;
  fill: var(--primary);
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 940px) {
  .Main-text {
    font-size: 140px;
  }
}

@media screen and (min-width: 800px) {
  
}

@media screen and (min-width: 375px) {
  
}

@media screen and (max-width: 800px) {
  .Main-text {
    /* background: #000; */
  }
}

@media screen and (max-width: 400px) {
  .About-text {
    flex-direction: column;
    min-width: 135px;
  }

  .About-text li {
    padding: 0 15px;
    text-align: center;
    width: 100%;
    position: relative;
  }

  .About-text li:after {
    right: 0;
    position: absolute;
    margin: 0 10px;
    color: var(--primary);
    content: '/';
  }
}