.btn {
    a {
      color: var(--dark);
      text-decoration: none;
    }
  
    &.btn-left-back {
      left: 40px;
      top: 20px;
      position: absolute;
  
      a {
        position: relative;
  
        &::after {
          top: 50%;
          transform: translateY(-50%);
          left: -40px;
          position: absolute;
          content: "";
          height: 4px;
          width: 30px;
          background: var(--dark);
        }
      }
    }
  }
  
  .slide-left {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-140px);
  
    &.is-view {
      transform: translateX(0);
      opacity: 1;
    }
  
    &.is-hide {
      transform: translateX(-140px);
      opacity: 0;
    }
  }
  